<h1>Merchant Page</h1>

  <p><%= @merchant.name %></p>
  <p><%= @merchant.id %></p>
  <p><%= @merchant.address %></p>
  <p><%= @merchant.city %></p>
  <p><%= @merchant.state %></p>
  <p><%= @merchant.zip %></p>


  <h4><%= link_to 'Update Merchant', "/merchants/#{@merchant.id}/edit" %></h4>

  <h4><%= button_to 'Delete Merchant', "/merchants/#{@merchant.id}", method: :delete %></h4>
