<h2>All Items</h2>

<% @items.each do |item| %>
  <h4><%= item.name %></h4>
  <h6><%= item.description %></h6>
  <h6><%= item.price %></h6>
  <h6><%= item.image %></h6>
  <h6><%= item.status %></h6>
  <h6><%= item.inventory %></h6>
  <h6><%= item.name_of_merchant %></h6>
<% end %>
