<h1>Items Page</h1>

  <p><%= @item.name %></p>
  <p><%= @item.description %></p>
  <p><%= @item.price %></p>
  <p><%= @item.image %></p>
  <p><%= @item.status %></p>
  <p><%= @item.inventory %></p>
  <p><%= @item.name_of_merchant %></p>
  
